.page {
  display: flex;
  flex-direction: column;

  padding: 0px;
  gap: 50px;
  overflow: hidden;
  margin-bottom: 100px;

  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;

  overflow: hidden;

  padding: 5px;
  gap: 10px;
  overflow-x: none;

  padding-top: 30px;
  padding-bottom: 30px;

  height: fit-content;
  width: 1800px;
}

.sectionTitle {
  font-size: 22px;
}

// Media Quiries Start ⚖️
@media only screen and (max-width: 1800px) {
  .section {
    width: 100%;
  }
}
